body {
  background-color: #333333
}

.left-section,
.center-section,
.right-section {
    width: 33vw;
}

.title {
  color: #FFFFFF;
  font-family: Lobster;
  text-align: center;
  font-size: 36px;
}

#button {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  font-family: Comic Sans MS;
  font-size: 18px;
  box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.76), inset -1px -3px 10px 1px #515151;
}

#funds {
  color: #FFFFFF;
  font-size: 20px;
  font-family: Comic Sans MS;
  position: absolute;
  top: 5px;
  left: 40px;
}

.car-button-container {
  text-align: center;
}

#engineer {
  font-family: Comic Sans MS;
  color: #FFFFFF;
  position: absolute;
  right: 25px;
  top: 25px;
}

#engineerInfo {
  font-family: Comic Sans MS;
  position: absolute;
  right: 230px;
  top: 42.5px;
  background-color: #AADDFF;
  border-radius: 5px;
  width: 40px;
  height: 25px;
}

#engineerBuy {
  font-family: Comic Sans MS;
  position: absolute;
  right: 280px;
  top: 42.5px;
  background-color: #77FF77;
  border-radius: 5px;
  width: 40px;
  height: 25px;
}

#engineerCount {
  color: white;
  font-family: Comic Sans MS;
  position: fixed;
  top: 27.5px;
  right: 335px;
}

#infoDiv {
  font-family: Comic Sans MS;
  border: 3px solid;
  width: 400px;
  height: 200px;
  text-align: center;
  background-color: #CCCCCC;
}

#smk {
  font-family: Comic Sans MS;
  color: #FFFFFF;
  position: fixed;
  right: 25px;
  top: 75px;
}

#smkInfo {
  background-color: #AADDFF;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  font-family: Comic Sans MS;
  position: fixed;
  top: 90px;
  right: 287px;
}

#smkBuy {
  background-color: #77FF77;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  position: fixed;
  right: 337px;
  top: 90px;
}

#smkCount {
  color: white;
  font-family: Comic Sans MS;
  position: fixed;
  top: 75px;
  right: 392px;
}

#sm {
  color: white;
  font-family: Comic Sans MS;
  position: fixed;
  right: 25px;
  top: 125px;
}

#smInfo {
  background-color: #AADDFF;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  font-family: Comic Sans MS;
  position: fixed;
  top: 140px;
  right: 250px;
}

#smBuy {
  background-color: #77FF77;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  position: fixed;
  top: 140px;
  right: 300px;
}

#smCount {
  color: white;
  font-family: Comic Sans MS;
  position: fixed;
  top: 125px;
  right: 355px;
}

#rh {
  color: white;
  font-family: Comic Sans MS;
  position: fixed;
  top: 170px;
  right: 25px;
}

#rhInfo {
  background-color: #AADDFF;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  font-family: Comic Sans MS;
  position: fixed;
  top: 185px;
  right: 328px;
}

#rhBuy {
  background-color: #77FF77;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  position: fixed;
  top: 185px;
  right: 378px;
}

#timb {
  color: white;
  font-family: Comic Sans MS;
  position: fixed;
  right: 25px;
  top: 215px;
}

#timbInfo {
  background-color: #AADDFF;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  font-family: Comic Sans MS;
  position: fixed;
  top: 231px;
  right: 240px;
}

#timbBuy {
  background-color: #77FF77;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  position: fixed;
  top: 231px;
  right: 290px;
}

#timbCount {
  color: white;
  font-family: Comic Sans MS;
  position: fixed;
  top: 215px;
  right: 345px;
}

#tumblr {
  font-family: Comic Sans MS;
  color: #FFFFFF;
  position: fixed;
  right: 25px;
  top: 260px;
}

#tumblrInfo {
  background-color: #AADDFF;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  font-family: Comic Sans MS;
  position: fixed;
  top: 275px;
  right: 260px;
}

#tumblrBuy {
  background-color: #77FF77;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  position: fixed;
  top: 275px;
  right: 310px;
}

#tumblrCount {
  color: white;
  font-family: Comic Sans MS;
  position: fixed;
  top: 260px;
  right: 365px;
}

#chan {
  color: white;
  font-family: Comic Sans MS;
  position: fixed;
  right: 25px;
  top: 303px;
}

#chanInfo {
  background-color: #AADDFF;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  font-family: Comic Sans MS;
  position: fixed;
  top: 319px;
  right: 230px;
}

#chanBuy {
  background-color: #77FF77;
  border-radius: 5px;
  width: 40px;
  height: 25px;
  position: fixed;
  top: 319px;
  right: 280px;
}